{
	// might make it so that this can go into the normal ships config at some point (and might try improve the code for doing something like this)
	// folows the same rules as BYOS ships in FU
	"spaceStation" : {
		"ship" : "playerstation",
		"name" : "Player Station",
		"offset" : [-13, 16],
		"previewImage" : "/interface/ai/shippreviews/fu_byosdefaultshiprepaired.png"
	},
	"spaceStation2" : {
		"ship" : "spacestation",
		"name" : "Non-Player Station",
		"offset" : [-13, 16],
		"previewImage" : "/interface/ai/shippreviews/fu_byosdefaultshiprepaired.png"
	}
}